body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1em;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #000;
}

.inputForm {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 30px;
}

label {
    margin-bottom: 5px;
}

input,
select {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    background-color: #333; 
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}